@charset "UTF-8";
.mainImage {
    background-image: url('/image/computer-original.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    color: white;
    align-items: center;
    text-align: left;
    padding: 80px 0;
}

.mainImage h1 {
    margin-top: 5%;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 
        4px 4px 0 rgba(0, 0, 0, 0.8), 
        -4px -4px 0 rgba(0, 0, 0, 0.8), 
        4px -4px 0 rgba(0, 0, 0, 0.8), 
        -4px 4px 0 rgba(0, 0, 0, 0.8);
}

.mainImage p {
    font-size: 1.2rem;
    margin-top: 10px;
    text-shadow: 
        1px 1px 0 rgba(0, 0, 0, 0.8), 
        -1px -1px 0 rgba(0, 0, 0, 0.8), 
        1px -1px 0 rgba(0, 0, 0, 0.8), 
        -1px 1px 0 rgba(0, 0, 0, 0.8);
}

.service-description{
	font-family: 'Noto Sans KR', sans-serif;
}

.service-description h2{
    font-weight: bold;
    color: #091b27;
}

.service-icons {
    padding: 40px 0;
    text-align: center;
}

.service-icons i {
    font-size: 2rem;
    color: black;
}

.service-icons p {
    font-weight: bold;
    margin-top: 10px;
}

.service-description {
    padding: 40px 0;
}

.service-item {
    margin-bottom: 40px;
}

.service-item img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.service-item h4 {
    margin-top: 15px;
    text-align: center;
    margin: 0 20px;
    font-weight: 500;
    color: #091b27;
}

.service-item p {
    line-height: 1.5;
    color: #555555;
    margin: 0 20px;
}

#introService{
	cursor: pointer;
}

.noDeco{
	text-decoration: none;
	list-style-type: none;
}

/* 폰트 스타일 수정 */
.heading-text {
    font-family: 'Noto Sans KR', sans-serif; /* 가독성 좋은 한국어 폰트 */
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF; /* 글자를 밝게 강조 */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* 글자 테두리 그림자 효과 */
}

.subheading-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #DDDDDD; /* 약간 연한 색상으로 부드럽게 */
    line-height: 1.8; /* 줄 간격 조절 */
}

.link-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #D2B48C;
}

.link-text:hover {
    color: #A0522D;
    text-decoration: underline;
}

